@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:cursive;
    /* 'Pushster', cursive */
}

:root{
    --main-bg : #1e272e;
    --main-color : #0097e6;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
html{
    font-size: 72.5%;
}

.main_menu{
    background-color: var(--main-bg);
    
}

.navbar{
    padding: 1.5rem 0rem;
}

.navbar a{
    color: white;
    font-size: 1.5rem;
    
    
    
}
.navbar-toggler{
    background-color: grey;
}

.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite ;
    color: var(--main-color);
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

.brand{
    color: tomato;
    
}

.main_header_left{
    
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_header_left p {
    font-size: 2rem;
}

.main_header_right{
    
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_header_left button{
    border: none;
    margin: 1rem ;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 1.7rem;
    box-shadow: 0px 2px var(--main-color);
    outline: none;
}

/* footer----code */

footer{
    width: 100%;
    color: white;
    background-color: var(--main-bg);
    margin-top: auto;
}

footer p {
    text-align: center;
    line-height: 4rem;
    font-size: 1.5rem;
}
.cred_com{
    color: var(--main-color);
}

@media (max-width : 768px) {
    .main_header_left{
        height: auto;
        margin: 3rem 0 0 0;
    }
    .main_header_left{
        height: auto;
        margin-top: 0 0;
    }
}

/* About page */
.box{
    display: flex;
}
.about_first-box{
    border: 2px solid red;
    padding: 10px;
    height: 350px;
    width: 250px;
    margin: 5px 100px;
}

.about_para{
    font-size: 1.35rem;
}


/* Weather page */



.main_content{
    color: white;
    display: flex;
    justify-content: center;
    margin: 5rem;
    
}
.main_content input{
    color: white;
    border-radius: 10px;
    background-color: var(--main-bg);
}

.tempInformation{
    font-size: 2rem;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border-radius: 5rem;
    width: 23rem;
    height: 23rem;
    position: absolute;
    right: 36rem;
    
    color: white;
}
.top_layer{
    display: flex;
    flex-direction: row;
    font-size:  1.5rem;
    
    padding-bottom: 25px;

}
#day{
   
    position:absolute;
    left: 63px;
    
}
#today_date{
    position: absolute;
    right: 65px;
}

.main_layer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.country_name{
    font-size: 1rem;
}

/* search-bar in weather  */
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 15px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    /* .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    } */

    #submitBtn{
        color: violet;
    }